[2020-01-10 19:51] lizzieinvancouver opened #1 "real data -- simple sensitivities"
Re-do the PEP work on BETPEN using a log-log regression (i.e., instead of days ~ C, do log(days) ~ log(C)).

[2020-01-10 19:51] lizzieinvancouver opened #2 "real data -- SWA sensitivities"
Use PEP725 data and try log-log relationship. See also #1

[2020-01-10 19:52] lizzieinvancouver opened #3 "lit review of sensitivity studies"
[Here's a list to review](https://github.com/lizzieinvancouver/decsens/wiki/Lit-review-of-papers-using-temperature-sensitivity). Please put notes on any studies either in the wiki or in a new file in refs/litreview. Please add citations to the bib file of any papers that seem to have the issue we identify.

[2020-01-10 19:53] lizzieinvancouver opened #4 "lit review of other ways to deal with issue"
For example, Q10, "The temperature sensitivity of soil respiration is often expressed as the Q10 value; that is, the factor by which soil respiration increases by a 10°C increase in temperature (e.g., Kirschbaum, 1995; Van't Hoff, 1898)." [this article](https://agupubs.onlinelibrary.wiley.com/doi/full/10.1002/2017GB005644)

[2020-01-10 20:33] lizzieinvancouver opened #5 "Why is corrected slope always -1?"
I asked J. Auerbach and I think it's related to Nee et al. -- [PDF here](https://drive.google.com/drive/folders/1jzp4KiiFt5duJ0CO42BmEyruCKLG_-G3). Cat and Ailene expressed interest in this, but let's see if J knows.

[2020-01-10 20:38] lizzieinvancouver opened #6 "Help with simulated data where sensitivities do decline"
See analyses/decsensSimsMo.R ...
Here's what I need help on:
1. I try to build winter to spring daily temp across i levels of warming with this command:
`       daily_temp <- sapply(yearly_expected_temp, function(x) c(rnorm(daysperseason, 0 + i, sigma),
           rnorm(daysperinterseason, 2 + i , sigma), rnorm(daysperinterseason, 4 + i, sigma),
           rnorm(daysperseason, 6 + i, sigma)))`
But

[2020-01-10 20:39] lizzieinvancouver commented on #6
Ailene will take a stab at this, Nacho said he can also help but, `pobably not before the last week of January'

[2020-01-10 20:40] lizzieinvancouver commented on #3
Dan is taking the lead on this!

[2020-01-10 20:40] lizzieinvancouver commented on #4
Dan is taking the lead on this! Cat will help when done with issue #1 and issue #2 .

[2020-01-13 19:32] dbuona commented on #3
@lizzieinvancouver I will get going on this this week. I was also thinking (especially to find papers outside of phenology) we might consider using doing a search with the term "reaction norm" instead of sensitivity to potentially tap in to a different literature. I'll see how the list above pans out first..

[2020-01-13 21:14] cchambe12 commented on #1
@lizzieinvancouver I forgot we can't take the log of negative numbers. I tried subsetting the dataset to start March 1st but I was still getting freezing temperatures so I converted everything to Kelvin and then compared to what we had without the log...

#### Now calculate temperature sensitivities but with log
[code]
negative means a decline in sensitivity AFTER climate change
logdiffbefore.afte

[2020-01-13 21:24] cchambe12 commented on #2
### Alright, now we have to convert to Kelvin again...
[code]
diffbefore.after = -1.917594

[code]

and logdiffbefore.after = -4.327136, exponentiated it's 0.01320532 so tiny increase in sensitivity!

[2020-01-13 21:25] cchambe12 commented on #2
@cchambe12 find credible intervals next

[2020-01-13 21:25] cchambe12 commented on #1
@cchambe12 find credible intervals next

[2020-01-14 03:27] lizzieinvancouver commented on #3
@dbuona That sounds great! I think we (I) could use help thinking more expansively here....

[2020-01-14 03:29] lizzieinvancouver commented on #2
@cchambe12 Super cool! Thank you for doing this. Once you're writing out data, can you write out the estimates in a csv or such? I realized people get confused by graphing the diff so I have taken to graphing the raw sensitivities....

[2020-01-14 03:31] lizzieinvancouver commented on #1
@cchambe12 I totally forgot about that too! Do we actually have years with negative mean temperatures though?

[2020-01-14 18:47] cchambe12 commented on #1
@lizzieinvancouver No! I was using the wrong column. All is well and we don't need to use Kelvin after all, which is a relief. I've made output for the PEP stuff and for sliding window.

decsens/analyses/pep_analyses/output/bpestimates_withlog.csv

I will make a README.txt with column descriptions now.

[2020-01-14 18:48] cchambe12 commented on #2
For sure! I've written out a .csv file here. I will make a README now. Let me know if you need anything else with this or if you want me to do anything different with the file.

decsens/analyses/pep_analyses/output/swaestimates_withlog.csv

[2020-01-19 04:01] lizzieinvancouver commented on #5
@AileneKane @cchambe12 I think this is now answered:

"The relationship is y = a/x so log(y) = log(a) - log(x) and regression should return beta_0 = log(a), beta_1 = -1"

[2020-01-19 04:01] #5 closed, assigned to AileneKane, cchambe12

[2020-01-19 04:02] lizzieinvancouver commented on #1
@cchambe12 This is great! Thank you so much for doing this! I am working to update the manuscript. I have a couple more requests (sorry) ... could we add a decade (1990-2000?) and could we add Fagus?

[2020-01-21 15:17] cchambe12 commented on #1
@lizzieinvancouver I was thinking of adding Fagus too! And yeah, no problem with the added decade. Would you like the same for the SWA or wait to see how this goes first?

[2020-01-22 23:04] lizzieinvancouver commented on #1
@cchambe12 Great on Fagus and another decade! Let's start there and add SWA later if needed. Thank you!

[2020-01-24 15:48] cchambe12 commented on #1
@lizzieinvancouver All set!! I added the new data to the output folder

FAGSYL: fsylestimates_withlog_1950_1990_2000.csv
BETPEN: bpenestimates_withlog_1950_1990_2000.csv

[2020-01-27 03:18] lizzieinvancouver commented on #1
@cchambe12 Wow! This was so fast. I just updated the plotting code -- thanks. One thing that is a little odd to me is that the warming is about the same (90s equals 2000s, but this might make sense, in which case -- with apologies I might ask that we add another decade) ... to discuss tomorrow.

[2020-01-27 15:07] cchambe12 commented on #1
@lizzieinvancouver Yeah no problem at all! I was wondering if adding more species would be helpful too. Anything from PEP is easy to add!

[2020-01-27 17:55] lizzieinvancouver commented on #1
@cchambe12 Thanks! I think we will try some other years -- I was just looking at German climate for when the warming trend began there (see [the German Climate Atlas](https://www.dwd.de/EN/climate_environment/climateatlas/climateatlas_node.html) and it looks like maybe the 70s ... so that's something to consider. Also, if we should go to a bigger window for safety (e.g., 20 is more standard for 'c

[2020-01-27 21:18] lizzieinvancouver commented on #6
@AileneKane Add figure or such showing sensitivities, % years chill not met and average Fstar across warming levels .... by Feb 5.

[2020-01-27 21:44] lizzieinvancouver opened #7 "try sims with declining variance?"
Would need to do enough to see when it leads to declining sensitivities on the scale that we see.

[2020-01-27 21:48] lizzieinvancouver commented on #1
@cchambe12 Try with March to May temperatures and 20 year windows .... confidence intervals ... 1990-2010 versus 1950-1970.

[2020-01-27 21:50] lizzieinvancouver commented on #7
@AileneKane Switch to 20 year windows.

[2020-01-27 21:59] lizzieinvancouver commented on #7
To do after seeing PEP725 results.

[2020-01-27 22:01] lizzieinvancouver opened #8 "try sims with photoperiod effects at high warming..."
@AileneKane will start this, others can help after as needed.

[2020-01-28 00:03] AileneKane commented on #6
@lizzieinvancouver I did a[ rough cut at this](https://github.com/lizzieinvancouver/decsens/blob/master/analyses/figures/shiftingcuessims_3panels.pdf), but I'd love ideas for who to improve...do we want to make this all on one panel somehow? or at least combine the chilling and GDD to a single panel (could have 2 y axes)

[2020-01-28 00:40] lizzieinvancouver commented on #6
@AileneKane Nice! I think it would be good to combine GDD and chilling % years. Is the GDD total just the total across the winter+spring? It seems we may only need GDD required (and it should never be below 200, right?).

[2020-01-28 00:57] AileneKane commented on #6
@lizzieinvancouver Yes- the total is across the winter and spring season. And GDD requred is never below 200. I will combine GDD required and chilling on a single panel. Thanks!

[2020-01-28 18:06] lizzieinvancouver commented on #1
@cchambe12 Sorry to just think of this now, but if we're doing 1950-1970 and 1990-2010, then let's add 1970-1990 (and I really assume that mean temp should fall between the two). As for confint, I suggest you pick what sounds good to you ... 84, 90, 80 ... whatever other than 95 or something more extreme. Thank you again for all your help on this!

[2020-01-28 18:15] cchambe12 commented on #1
@lizzieinvancouver I just pushed the real data output for 1950-1970 and 1990-2010 with 89 for the confint. I will add the new timeframe now!

[2020-01-28 22:18] cchambe12 commented on #1
I think this is done!

[2020-02-01 00:44] lizzieinvancouver commented on #7
@lizzieinvancouver Maybe? Based on the PEP725 data, varmat for 1950-1970, then 1970-1990, then 1990-2010:

[code]

So it does go down! And a lot, 25%, but the sensitivity does not change over that time....

[2020-02-01 00:51] lizzieinvancouver commented on #1
@cchambe12 This is awesome! Check out the means ... but I am not sure how to interpret everything.... email to follow. Also @AileneKane @dbuona @MoralesCastilla

[code]

[2020-02-01 00:56] lizzieinvancouver commented on #1
Wait, let's just do it here @cchambe12 @AileneKane @dbuona @MoralesCastilla

Thanks to Cat we already have updated results from our conversation Monday! [The plot is here](https://github.com/lizzieinvancouver/decsens/blob/master/analyses/figures/basicpep1950to20002spp.pdf) that the logged results are on every plot, the right-side is a zoom). The dots are means, the lines are 89% confidence interva

[2020-02-01 00:57] lizzieinvancouver commented on #1
@cchambe12 Can you confirm the intervals and also what window the GDD is calculated over (some months or until leafout for each species x site x year)? Thanks!

[2020-02-03 13:03] cchambe12 commented on #1
@lizzieinvancouver Yes sorry 78% confidence intervals!
`GDD' is 30 days before leafout for each species x site x year
`mat' column is mean spring temperature from March 1 to May 31
`mat.lo' is mean temperature 30 days before leafout

I would be happy to adjust if necessary!

[2020-02-03 13:07] cchambe12 commented on #1
@lizzieinvancouver Yes sorry it meant 78% credible intervals!
"GDD" is 30 days before leafout for each species x year x site
"mat.lo" is mean temperature 30 days before leafout
"mat" is mean spring temperature from March 1 to May 31

I'd be happy to adjust as necessary!

As for back-converting... I also used exp(). The back-converted values should never be negative as you cannot log a negative num

[2020-02-03 13:10] cchambe12 commented on #2
Still working on this... takes a veryyy long time and the results keep looking wonky. I need to find an appropriate window.

[2020-02-03 22:07] lizzieinvancouver commented on #1
@cchambe12 No, I think this is great. It's just interesting to me that they are requiring less GDD, which is sort of more sensitive ... I think.

[2020-02-03 22:09] lizzieinvancouver commented on #1
@AileneKane My main questions are:
1. Can we back-convert? If not (or not easily), what would be the interpretation of the change in log-log sensitivities (and perhaps I should not have exp() them ... see my code [here](https://github.com/lizzieinvancouver/decsens/blob/master/analyses/pep_analyses/pepplotting.R) which does that).
1. Either way, how to interpret the change in sensitivity? Can we sa

[2020-02-03 23:40] AileneKane commented on #1
@lizzieinvancouver
1. I hadn't realized this in our early discussion of these models, but there is not a great way to back-convert logged response variables with continuous predictors (especially when those predictors are also logged). It is not a simple "exp()" unfortunately. See http://www.biostat.jhsph.edu/~iruczins/teaching/jf/ch8.pdf

2. I'm not sure yet what we can say about changes in sensi

[2020-02-05 18:06] AileneKane commented on #6
@lizzieinvancouver I have added the new 2-panel figure [here](https://github.com/lizzieinvancouver/decsens/blob/master/analyses/figures/shiftingcuessims_2panels.pdf). Let me know if you want me to do anything else!

[2020-02-10 04:43] lizzieinvancouver commented on #4
@dbuona Thanks for updating the table! Can you add all your refs to the git bib file? Once they're in there I will try to track down the Zhu 2019 one for you. Please ping me on here, when ready. Thanks!

[2020-02-10 04:50] lizzieinvancouver commented on #1
@AileneKane @cchambe12 I just confirmed (see figure [here](https://github.com/lizzieinvancouver/decsens/blob/master/analyses/figures/simslogging.pdf)) that we need a log-log. So I will probably go forward without back-converting.

[2020-02-10 18:27] lizzieinvancouver opened #9 "Question: If var(leafout) is declining, then what does it mean if var(mat) is declining?"
We know leafout date variance is declining massively -- if your y variable is declining in variance as your x variable declines in variance, I think you have to worry about both changes and they could cancel out ....

Here's a quick example where the variance in temp decreases:

[code]

And the 'sensitivity' goes up, but here I equally decrease the phenology variance:

[code]

[2020-02-10 18:56] lizzieinvancouver commented on #1
@cchambe12 The variance in leafout for betpen goes way down, can you double-check the code and that we are not dropping some crazy outlier site across the 20 year windows?
[code]

[2020-02-11 15:33] cchambe12 commented on #1
@lizzieinvancouver I tried modifying the site selection and rerunning the code but it returned the same answers... it does seem strange. I will continue to look into this but at first glance there isn't an obvious issue with the code or site selection

[2020-02-11 15:35] cchambe12 commented on #2
Example output from sliding window... not sure why the climate is so messed up.

swapost
      X yvar     climate
1     1   93 -0.05881799
2     2   95 -0.05367270
3     3   96 -0.05813004
4     4   98 -0.05065594
5     5   99 -0.05748935
6     6  101 -0.05261041
7     7  101 -0.05951015
8     8  103 -0.05635570
9     9  104 -0.05929577
10   10  104 -0.06361004

[2020-02-11 20:48] dbuona commented on #4
citations...added.

On Sun, Feb 9, 2020 at 11:43 PM lizzieinvancouver <notifications@github.com>
wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2020-02-16 01:20] lizzieinvancouver commented on #1
@cchambe12 It could be real. Perhaps you could make the type of ggplots you made for the budburst ms? Then we could get a look at the data better.

[2020-02-16 03:05] lizzieinvancouver commented on #1
@cchambe12 I think something is up with our estimates (either our old or new ones)... I was just looking at the estimates we had in mid-January....

Below code from pepplotting.R
[code]
And then I calculated new estimates (below code is from betpen_tempsensitivities.R):

[code]

[2020-02-16 03:08] lizzieinvancouver commented on #1
@cchambe12 I'll keep checking the code in betpen_tempsensitivities.R that I wrote and see if there are errors there, but if you have any ideas, let me know.

[2020-02-17 12:47] cchambe12 commented on #1
@lizzieinvancouver I'm not surprised they are different. For back in January, I selected sites that only needed to have observations for those 20 years (1950-1960 & 2000-2010). For this declining sensitivities, I am selecting sites that have observations for 60 years (1950-2010). So the number of sites goes down significantly (from 48 to 17). I've streamlined the code to be liberal with sites, I c

[2020-02-17 20:00] lizzieinvancouver commented on #1
@cchambe12 Ah -- that makes perfect sense! I should have thought of this. But we should think more about this -- we wanted to switch to 20 year windows to have better confidence in our results, but if we are trading it off with fewer sites I am not sure that's the best approach.

[2020-02-17 20:23] lizzieinvancouver commented on #1
@cchambe12 Let me think on this some ... if we really want inference on what is going on with PEP we should probably switch to some sort thoughtful hierarchical model where we can leverage more sites and more years. But! I think that is well outside the scope of this paper, where the PEP results are snippet at most. So, let me think on it. My sense is that more sites is better than more years ...

[2020-02-17 22:01] cchambe12 commented on #1
@lizzieinvancouver Ahh yes you're right, a hierarchical model is the usual answer here...

We are losing a lot of data here by going down to only 17 sites. I'll play around with using the 10 year windows again and then just looking at 1950-1970 and 1990-2010 rather than all three time windows. Maybe one of those options will give us back enough sites but still be informative?

[2020-02-17 22:15] lizzieinvancouver commented on #1
@cchambe12 I honestly feel like those 40 years will probably be fairly similar to the 60 year problem, but have a stab if you have time!

[2020-02-17 22:38] cchambe12 commented on #1
@lizzieinvancouver You were right!

Here's the breakdown if it's helpful:
BETPEN:
10-year timeframes x 2 periods -> **48 sites total** (1950-1960 & 2000-2010)
20-yr x 3 periods -> **17 sites** (1950-1970 & 1970-1990 & 1990-2010)
20-yr x 2 -> **26 sites** (1950-1970 & 1990-2010)
10-yr x 3 -> **32 sites** (1950-1960 & 1970-1980 & 2000-2010)

FAGSYL:
10-yr x 2 -> **47 sites**
20-yr x 3 -> **24 sites*

[2020-02-17 22:44] lizzieinvancouver commented on #1
@cchambe12 Super helpful! Thanks! I think we should try to present a mix of results if we can do it without confusing folks and I think we have most of what we need. But I have one more request (I know, I know, always 'one more'): could you estimate the per-site variance for both lo and mat after logging the lo and mat? That means in addition to providing var(mat) and var(lo), could you also provi

[2020-02-17 22:58] cchambe12 commented on #1
@lizzieinvancouver Great! Haha these are easy requests! I'll rerun it to make sure to get all possible sites and add these columns. It should be done running by tonight or tomorrow morning at the latest.

[2020-02-17 23:03] lizzieinvancouver commented on #1
@cchambe12 Wait! One more tweak -- can we make sure all the files have the 11 and 89 confint? Thank you again! Ideally if you can do betpen and fagsyl for 1950-1960/2000-2010 with all the output you've now been generating, that would be great!

[2020-02-17 23:06] cchambe12 commented on #1
@lizzieinvancouver Sure thing!!

[2020-02-17 23:06] lizzieinvancouver commented on #1
@cchambe12 Thank you!

[2020-02-18 21:52] cchambe12 commented on #1
@lizzieinvancouver Those should be all set!

The new output is:
analyses/pep_analyses/output/betpen_decsens_1950_1990.csv
analyses/pep_analyses/output/fagsyl_decsens_1950_1990.csv

Let me know if you need anything else or it still looks funny.

[2020-02-19 05:41] lizzieinvancouver commented on #1
@cchambe12 Thanks! Can you aggregate them by site and cc period and include these in the output: "matslope", "matslopelog", "meanmat", "varmat", "var(log(mat))", "varlo", "var(log(lo))", "meangdd", "meanmatlo",  "matslopeconfint11", "matslopeconfint89", "matslopelogconfint11", "matslopelogconfint89."

Can you also provide that output for the 10 yr windows (1950-1960 and 2000-2010)? Let me know if

[2020-02-19 13:34] cchambe12 commented on #1
@lizzieinvancouver Ahh sorry I pointed you towards the wrong output file!!

analyses/pep_analyses/output/bpenestimates_withlog_1950_1990.csv
analyses/pep_analyses/output/fsestimates_withlog_1950_1990.csv

And then I made new files with the 10 yr windows.
analyses/pep_analyses/output/bpestimates_tenyrwindows.csv
analyses/pep_analyses/output/fsestimates_tenyrwindows.csv

[2020-02-19 22:41] lizzieinvancouver commented on #1
@cchambe12 Can you check these files? They all return 20 year windows in cc name and the output is identical across the files when I take their summaries....

[code]

[2020-02-24 20:52] cchambe12 commented on #1
@lizzieinvancouver Okay, I hope this is what you are looking for!!

I have:
10 year windows for both species, estimates and then means across the windows
analyses/pep_analyses/output/bpenestimates_withlog_1950_2000.csv (all data)
analyses/pep_analyses/output/bpestimates_tenyrwindows.csv (means across windows)
analyses/pep_analyses/output/fsestimates_withlog_1950_2000.csv
analyses/pep_analyses/outp

[2020-02-24 22:28] lizzieinvancouver commented on #1
@cchambe12 Thank you! This has what I want (yay)! But something is still funky with the slope estimates. I contrasted what you just uploaded with what you uploaded previously ... and while everything else is identical, the slope estimates have changed -- and the more recent ones seem less likely to me. Do you know why these estimates have changed?

[code]

[2020-02-24 22:30] lizzieinvancouver commented on #1
@cchambe12 Spoke too soon.... looks like the mat has changed and that may be driving the change in slopes ... but what you previously uploaded (mean.betpen.10yr.old) looks more similar to what we have in Ailene's paper and what makes sense to me based on the literature.

[2020-02-25 13:39] cchambe12 commented on #1
@lizzieinvancouver Okay, so I went through the old code from OSPREE bbculdesac and remembered that we changed the MST months from March-April to March-May. We are now looking at March-May. The df.old was still using March-April as well. I'd be happy to change back if we want to stay consistent! I don't remember why we decided to change it to include May...

[2020-02-25 17:26] lizzieinvancouver commented on #1
@cchambe12 Ah, thanks! I totally forgot too. I imagine we had a good reason for it but I can't recall it. Now that we're using the same windows as in the budburst paper I think best to use the same months too -- do you mind switching back March-April? Sorry for this -- yet another, another, another -- request!

[2020-02-25 20:06] cchambe12 commented on #1
@lizzieinvancouver Easy fix!! Should be all set!

[2020-03-09 02:16] lizzieinvancouver commented on #1
@cchambe12 Sorry I fell behind on this. Can you check the 20 year estimates were updated to the March-April temperatures? They still look high ...

[code]

[2020-03-09 15:55] cchambe12 commented on #1
@lizzieinvancouver Ah sorry I just updated the ten year windows before. Twenty year windows have now been fixed using just March-April for mean spring temperature!

[2020-03-23 16:41] lizzieinvancouver commented on #3
@dbuona Can you let me know the name of the Zhu2019 article in the lit review file? I will try to track it down.

[2020-03-23 21:50] lizzieinvancouver commented on #6
@AileneKane Can you provide a two panel figure showing a SINGLE regression (for one site I think: so doy ~ temperature, with each dot representing a year) from an early year where forcing dominates and a late year where chilling is not met?

[2020-03-23 21:51] lizzieinvancouver commented on #6
So I guess a single regression per panel would be more accurate.

[2020-03-24 14:09] dbuona commented on #3
Recent Warming Has Resulted in Smaller Gains in Net Carbon Uptake in Northern High Latitudes

[2020-03-25 23:36] AileneKane commented on #6
@lizzieinvancouver I'm not quite sure what temperature you mean- just the spring (forcing) temperature? Do you want just the regression line or the points of simulated data as well?

[2020-03-26 00:07] lizzieinvancouver commented on #6
@AileneKane I am looking for a plot of the data that underlies EACH regression line. So in the code I think that's leafout_date versus yearly_temp.

[2020-03-26 04:24] AileneKane commented on #6
Ok! I started by making 7 paneled figures- one fore every warming level. we can pare down to just 2- let me know what level of warming you want!
 here is one [arbitrary site-site 10](https://github.com/lizzieinvancouver/decsens/blob/master/analyses/figures/simsiteplots/decsensplot_warm__site_10_.pdf) there are other sites in the folder "simsiteplots"

[2020-03-31 01:17] lizzieinvancouver opened #10 "help with my xtable formatting"
I need help formatting the tables (which are xtables) in the supp of decsens. I want to italicize the species names. I tried making the species names the row names then following this example:

[code]
But I got an error about duplicate row names. @cchambe12  suggested this:

`lstfrz$term <- gsub("speciesALNGLU", paste0("\\\\textit{","Alnus glutinosa","}"), lstfrz$term)`

But @cchambe12 I could use

[2020-03-31 01:52] AileneKane commented on #10
@lizzieinvancouver I vaguely remember having similar problems at some point...I did have italicized species names in our budburst ms supp so look at the packages and code that i used there. If its not clear I can take a closer look and try to trouble shoot more!
https://github.com/lizzieinvancouver/ospree/blob/bbculdesac/docs/budburst/budburstms.Rnw

[2020-03-31 04:03] AileneKane commented on #10
@lizzieinvancouver below is my code excerpt. What i remember is that there was one particular package that, when loaded, conflicted with this code, but unfortunately i don't remember which package it was that conflicted.
sp.st.table$Species<-gsub("."," ", sp.st.table$Species, fixed=TRUE)
sp.st.table$Species<-paste0("\\textit{", sp.st.table$Species, "}")
sp.table <- xtable(sp.st.table, caption="\\t

[2020-04-01 14:14] cchambe12 commented on #10
@lizzieinvancouver I think @AileneKane's code will work better for you! The only thing I will add, I had trouble when I tried using \textit{}, I had to add multiple backslashes in front. Ultimately, I ended up with four (so `\\\\\\\textit{}' with the gsub) for it to translate to latex language.

[2020-04-01 16:56] cchambe12 commented on #1
Done!!

[2020-04-01 16:56] #1 closed, assigned to cchambe12

[2020-04-01 17:00] lizzieinvancouver commented on #6
@AileneKane Check our code to see if we can turn down any sigma that may strengthen the regression (increase beta or reduce sigma in linear regression) to make trends more obvious?

[2020-04-01 17:02] lizzieinvancouver commented on #8
@AileneKane will sketch out R code and we'll try help out.

[2020-04-03 19:30] cchambe12 commented on #2
We've done the best we can with this. We've decided to close this issue.

[2020-04-03 19:30] #2 closed, assigned to nobody

[2020-04-04 18:17] lizzieinvancouver commented on #4
Zhu2019 (from Dan's email): The paper attributes the decrease in temperature sensitivity to biological factors-- with no mention of statistics. Yet they sort of poke at the issue here:

[2020-04-04 18:22] lizzieinvancouver commented on #4
@dbuona I think this paper would have the issue as they define CDR based on date ranges (some fixed, page 5851) and are doing effectively regression to calculate change on update per day. They say they follow Piao 2017.

[2020-04-04 18:49] lizzieinvancouver opened #11 "title options"
1. The illusion of declining temperature sensitivity with warming
2. A simple explanation for declining temperature sensitivity with warming
3. As climate change accelerates biology, chasing statistical artifacts ensues

[2020-04-04 19:18] lizzieinvancouver commented on #7
I think issue #9 makes clear what would happen here.

[2020-04-04 19:18] #7 closed, assigned to nobody

[2020-04-04 19:19] lizzieinvancouver commented on #9
I think this issue closed at the same time it opened, assuming no one sees an issue in my math....

[2020-04-04 19:19] #9 closed, assigned to nobody

[2020-04-04 19:22] lizzieinvancouver commented on #4
Seems like Q_10 can have it's own issues... based on [this paper](https://onlinelibrary.wiley.com/doi/10.1111/j.1529-8817.2003.00727.x). I feel like the best answer is a better generative model or proportions or logs (as best for now).

[2020-04-04 19:22] #4 closed, assigned to nobody

[2020-04-04 19:24] lizzieinvancouver commented on #3
See also #4 for discussion of Zhu2019 and Piao2017 which probably belonged here... @dbuona, please let me know if you think I interpreted those incorrectly and, if so, post here! Thanks.

(If not, we could close this issue I think.)

[2020-04-04 19:25] lizzieinvancouver opened #12 "help with my legend"
@MoralesCastilla Could you make the legend on basicsimsandpep.pdf (coded in decsensSims.R) look better? Maybe it should just be outside the plot or something? I tried playing around but cannot make it look good, could you try? Thank you!

[2020-04-04 19:25] lizzieinvancouver opened #13 "make the main text a sweave file"
And add in-text citations for the sensitivities.

[2020-04-13 19:05] lizzieinvancouver commented on #10
@cchambe12 and @AileneKane ... it was actually really easy! I used Cat's code and then added from Ailene's sanitize.text.function = identity and it worked like a charm. Thank you!

[2020-04-13 19:05] #10 closed, assigned to lizzieinvancouver, AileneKane, cchambe12, dbuona, MoralesCastilla

[2020-04-13 20:07] lizzieinvancouver opened #14 "chat with J Auerbach"
* Text on declining temperature variance ... add note about declining leafout variance
* y ~ x is the wrong regression for measured to leafout; what about integrating over some window also?
* correlation analyses not fixed
* what about reduced major axis regression?
* point out issues in raw data? Variance over mean temperature or time ...?

[2020-04-13 23:01] MoralesCastilla commented on #12
@lizzieinvancouver I have made a couple tweaks to the code to plot the legend as I showed in the .ai file. Let me know if you'd like any additional changes.

[2020-04-14 01:33] lizzieinvancouver commented on #14
* Worth adding the new code to the supplement?
* What is m in new code?
* What if X is not >0?
* Authorship thoughts?

[2020-04-28 17:52] lizzieinvancouver opened #15 "one more PEP725 sensitivity calc"
@cchambe12 One more request! (I know, I know, I am sorry) Jonathan A. has done some more work and pointed out the log relationship is only appropriate for when you calculate the sensitivity *to* the leafout date (not over some window) ... in my sims, these come out pretty similar and the log works fine on either. But to be neat and thorough, I think we probably should show both.

So -- could you p

[2020-04-29 12:06] cchambe12 commented on #15
@lizzieinvancouver Done! I added the conf ints just in case you may need them but the relevant columns for now are "lomatslopelog" and "lomatslopelog_exp"

[2020-04-30 17:52] lizzieinvancouver commented on #15
@cchambe12 Thank you! I added the basic lomatslope also. Can you check the calculation of meanmatlo, or point me to the code to check? My instinct is that the slopes should get less variable and potentially be higher as we have essentially made the x axis even more dependent on the y (by calculating the temp UNTIL leafout) but the results seem more variable:

[plots.pdf](https://github.com/lizziei

[2020-04-30 17:55] lizzieinvancouver commented on #15
Wait, here's a figure you can see:
![plots](https://user-images.githubusercontent.com/2153556/80742989-1991b980-8ad1-11ea-8488-fbbdbb74fc63.png)

[2020-04-30 17:58] lizzieinvancouver commented on #15
And here's the [new full results](https://github.com/lizzieinvancouver/decsens/blob/master/analyses/figures/basicsimsandpep.trunc.pdf) you can also contrast [this sim using the window](https://github.com/lizzieinvancouver/decsens/blob/master/analyses/figures/basicsims.pdf) with [sim using the truncated temp](https://github.com/lizzieinvancouver/decsens/blob/master/analyses/figures/basicsims.trunc.

[2020-04-30 18:20] lizzieinvancouver commented on #12
@MoralesCastilla Thanks for the great suggestion to add linear/non-linear to the main figure. I worked on adding it (see decsens.R and analyses/figures/basicsimsandpep.pdf). Can you check it and make any more tweaks to improve placement? Also, can you move the blue text for '1950-1960' down a touch? Thank you!

[2020-04-30 19:12] cchambe12 commented on #15
@lizzieinvancouver I am messing around with this now and cannot think through why this is happening. I agree, I would imagine variation in slopes would decrease with meanmatlo but after rewriting and checking the code, it is still higher than using the meanmat as before.

But in the raw data, we see that variation is decreasing when we use meanmatlo versus the original mat:
[bp_matvsmatlo.pdf](htt

[2020-04-30 19:21] cchambe12 commented on #15
@lizzieinvancouver The code is under pep_analyses/betpen_tempsensitivites.R and fagsyl_tempsensitivities.R

Relevant lines are 63-70

[2020-04-30 19:53] lizzieinvancouver commented on #15
@cchambe12 Thanks! I agree the code for the regressions looks good. The only last thing to check would be the code that calculates the temp until leafout. (I can double-check it if you let me know where it is in.) It's definitely not critical -- we see the same decline, and it goes down with a log-log; it's just surprising to me, but we can call it soon and investigate further later!

[2020-04-30 20:32] cchambe12 commented on #15
@lizzieinvancouver I just went through the temperature code and tested a few sites and years and it all looks good. I'll keep thinking about it and let you know if I come up with anything!

[2020-05-01 17:14] lizzieinvancouver commented on #14
Chatting with Jonathan again today, most of these are already addressed new questions are in personal file on Lizzie's computer in notposting/comments/auerbach folder

[2020-05-01 17:14] #14 closed, assigned to nobody

[2020-05-02 00:59] lizzieinvancouver commented on #15
@cchambe12 Okay, thank you! I think it could be many things and is not critical to the paper, so I think it's good we checked the answer for this method and the code, and I am closing it. Thank you again for all your help!

[2020-05-02 00:59] #15 closed, assigned to cchambe12

[2020-05-03 00:01] lizzieinvancouver commented on #11
Seems we're going with: A simple explanation for declining temperature sensitivity with warming

[2020-05-03 00:01] #11 closed, assigned to nobody

[2020-05-03 00:02] lizzieinvancouver commented on #3
@dbuona See comment above sometime soon please!

[2020-05-04 14:43] dbuona commented on #3
I agree that these two papers may have our issue.
In Piao 17 they say: "The interannual sensitivity of SZC (γSZC) to ST variation was computed as the slope of the regression of ST in a multiple linear regression of SZC against temperature, precipitation and cloud cover during the period from March to June. We apply the same approach to calculate interannual sensitivity of SCC (γSCC) to ST variatio

[2020-05-04 14:43] #3 closed, assigned to nobody

[2020-05-04 19:05] lizzieinvancouver opened #16 "adjust chilling and forcing figures (F3 currently)"
@AileneKane Can you help adjust the chilling/forcing figure following Andrew's requests:

* When making the graphs, use bty="l", mgp=c(1.5, 0.25, 0), tck=-.01 so that they are more readable. (Please CHECK the mpg looks okay, I changed it as I thought the one Andrew suggested was too tight.)
* Flip the legend on the top graph so it matches Fig S2.
* The orange dots are higher on the graph; they sho

[2020-05-04 19:11] lizzieinvancouver opened #17 "help with formatting tables"
@cchambe12 @dbuona @AileneKane @MoralesCastilla Andrew wrote, "The rotated text on the tables is giving me a headache! There's enuf room to format these in the usual way.  Just use multiple lines for the header if necessary." I tried to fix this adding 'align' to the tables, but xtable seems to ignore it. If you have any ideas I would appreciate help!

Here's the code now:

`print(xtable(mean2spp.

[2020-05-05 21:10] AileneKane commented on #16
@lizzieinvancouver I have made the modifications above. Let me know if you'd like me to make this a 3 paneled figure, separating chilling and forcing as Andrew suggested

[2020-05-05 22:07] AileneKane commented on #17
@lizzieinvancouver I fiddled with it a little bit. If you add a space in the tcolumn names, it will automatically line break where the space is. So, try:
[code]

[2020-05-05 22:08] AileneKane commented on #16
you could also try making the tables footnote sized

[2020-05-05 22:09] AileneKane commented on #17
I also think that making the tables footnote sized would help

[2020-05-11 18:30] lizzieinvancouver commented on #17
@AileneKane Thank you! This worked great. I think the tables look much better. I will close this now.

[2020-05-11 18:30] #17 closed, assigned to lizzieinvancouver

[2020-05-11 18:31] lizzieinvancouver commented on #16
@AileneKane Up to you -- if you think 3 panels would be better we could switch, but I sort of think it works (because I sort of think only people interested in this mechanism will look at this figure). Thank you for doing this!

[2020-05-11 23:36] AileneKane commented on #16
@lizzieinvancouver I think it's fine as is!

[2020-05-11 23:37] AileneKane commented on #16
@lizzieinvancouver shall I close?

[2020-05-11 23:37] lizzieinvancouver commented on #16
@AileneKane Yes! Thank you again for the work on this!

[2020-05-11 23:38] #16 closed, assigned to AileneKane

[2020-09-06 23:14] lizzieinvancouver commented on #8
Done, see commit 1e96aadd9c4346ff042c32b5a0b0b79fc3431681

[2020-09-06 23:14] #8 closed, assigned to nobody

[2020-09-06 23:15] #12 closed, assigned to MoralesCastilla

[2020-12-28 19:18] #6 closed, assigned to AileneKane

[2020-12-28 19:23] lizzieinvancouver opened #18 "working on sliding windows ..."
@cchambe12 I am playing around with a randomized leafout date, but want to make sure I understand the output from run_SW f(x) correctly. So for example:

[code]

- row 1 is the window open date (it opens on day 74)
- row 2 is the window close date (closes on day 8)
- row 3 is the 'aggregate statistic number'
- row 4 I assume is the intercept
- row 5 I assume is the slope
- row 6 is what?
- row 7 i

[2020-12-28 19:25] lizzieinvancouver commented on #18
@cchambe12
For comparison, here's the results when I randomize leafout date:

[code]

[2020-12-31 23:36] lizzieinvancouver commented on #18
@cchambe12 Okay! I think I have figured it out:

1. window open date relative to refday
2. WindowClose (relative to refday)
3.  which statistic (1-4, see below)
4. model intercept
5. model slope
6. error of slope (I believe)
7.  adj R squared

Best model is selected of the one's climwin says are best across 4 'aggregate statistics.' Taken from Simmons et al. 2019, "The aggregate statistic used in

[2020-12-31 23:38] lizzieinvancouver commented on #18
Some useful to me vignettes are [Advanced climwin](https://cran.r-project.org/web/packages/climwin/vignettes/advanced_climwin.html) and just [climwin](https://cran.r-project.org/web/packages/climwin/vignettes/climwin.html)

[2021-01-04 13:34] cchambe12 commented on #18
@lizzieinvancouver Nice! Yes this all looks correct to me, sorry I was late to the party!

[2021-01-04 21:13] lizzieinvancouver commented on #18
@cchambe12 No apologies! It was holidays and you should be taking time off.

I worked on the randomization of leafout date, and on trying the simulated climate data (see sims_sw.R and sims_runsw.R). Sort of tackily I did not write the sims_sw.R to be very automated but it's the parameters in there now, and I either set `fstaradjforchill` to 0 or 3 depending on whether there was chill. I ran it wit

[2021-01-06 01:38] lizzieinvancouver commented on #18
From Cat on 10 Dec 2020

[2021-03-01 01:08] lizzieinvancouver opened #19 "check out ma et al 2020 analysis"
@dbuona I did an analysis of the data deposited with Ma et al 2020 (first events are more sensitive!) but it doesn't seem like logging fixes this issue. Can you take a look at my analyses and make sure I am thinking through it clearly? Check out analyses/ma2020/ma2020quick.R.

[2021-03-03 19:30] dbuona commented on #19
You're code looks good to me. I'm trying to think through what issue logging would "fix". I'll keep digging in to it.

[2021-03-04 21:55] lizzieinvancouver commented on #19
@dbuona Yeah, I don't think it works here because the GDD has to be greater for later events so the logging would not work. I just needed a mental check.

[2021-03-08 21:52] lizzieinvancouver opened #20 "check supp table captions"
@cchambe12 Can you check the table captions in decsens_supp.Rnw? Specifically make sure we say 30 versus 31 day window in the correct spots (are there any 30 day windows?). Thank you!

[2021-03-10 15:50] cchambe12 commented on #20
@lizzieinvancouver it looks like they all say 31 which is correct! There are no 30 day windows, I wanted to keep it consistent.

[2021-03-10 15:50] #20 closed, assigned to lizzieinvancouver, cchambe12